
05_Recommendation_System/Reference_materials/Recommendation+Systems+slides.pdf
05_Recommendation_System/project/Data Set/phone_user_review_file_1.csv
05_Recommendation_System/project/Data Set/phone_user_review_file_2.csv
05_Recommendation_System/project/Data Set/phone_user_review_file_3.csv
05_Recommendation_System/project/Data Set/phone_user_review_file_4.csv
05_Recommendation_System/project/Data Set/phone_user_review_file_5.csv
05_Recommendation_System/project/Data Set/phone_user_review_file_6.csv
05_Recommendation_System/project/Data+Set.zip
05_Recommendation_System/project/RS_Problem_Statement.pdf
05_Recommendation_System/project/RS_RakhiDash_Project.ipynb
05_Recommendation_System/dataset/song_extra_info.csv
05_Recommendation_System/dataset/songs.csv
07_SVD_Collaborative/dataset/song_extra_info.csv
07_SVD_Collaborative/dataset/songs.csv
